.message-search {
  position: absolute;
  top: 60px;
  color: #3483fa;
  font-size: 14px;
}

.image-wrapper {
  padding: 10px;
  margin: 2px 75px;
  width: 97%;
  background-color: #fff;
  height: 200px;
}
h3,
p {
   margin: 15px 0px 0px;
   font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 14px;
  max-width: 580px;
}
.right {
  float: right;
  margin-right: 10px;
}

img.image {
  width: 18%;
  height: 100%;
  float: left;
  padding-right: 10px;
}
.price-tag {
  font-size: 20px;
}
.aligth-right {
  float: right;
  margin: -58px 10px;
  font-size: 13px;
}
