.container {
	width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  padding-top: 8px;
}
.search-label {
	position: relative;
}
input[type=text] {
	width: 107%;
	padding: 16px;
	font-size: 16px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
  outline: none;
  height: 40px;
  margin-left: 19px;
}
.button-submit {
  position: relative;
  top: -39px;
  right: -836px;
  background-color: #f5f5f5;
  border: 0;
  height: 38px;
  margin: 0;
  width: 38px;
}


.search-icon {
  position: relative;
  top: -47px;
  font-size: 20px;
  color: #555;
  left: 808px;
}

.search-loading {
	position: absolute;
	left: 0;
	right: 0;
  margin: auto;
}
.show {
	display: inline-block;
}
.hide {
	display: none;
}
.logo-meli {
  position: absolute;
  top: 1px;
  left: -62px;
}
